// About

#event-about
  background url('../images/bg-event.jpg') no-repeat
  background-size cover

.event-about-title
  color white
  base_title()

.event-about-content
  color white
  base_content()
  text-align justify