header
  min-height: 70%;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 80%;
  cf()
.header-content
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;

// Intro
.event-cover
  background: url("../images/bg-header.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  min-height: 100%;
  background-position: center;
  height: 100%;
  background-attachment: fixed;

  .content
    padding-top 25px
    padding-bottom 70px

.event-logo
  margin 0 0 20px
  max-width 100%
  width 450px
  height 130px
  background url('../images/logo.svg') no-repeat center transparent
  background-size 100%

.event-theme
  font-size 1.8em

.event-name
  color primary_color

.event-info
  font-size 1.5em
  margin-top 15px
  margin-bottom 50px
  color secondary_color

.event-price
  font-weight bold

.event-tickets
  color #FFF

.event-date
  font-size 1.5em