@import 'jeet'
@import 'variables'
@import 'mixins'
@import 'intro'
@import 'evento'
@import 'apoio'
@import 'newsletter'
@import 'footer'


body, html
  margin 0
  padding 0
  font-size 100%
  font-family main_font, sans-serif
  position relative
  height 100%
  min-height 100%

main
  position relative
  z-index 2
section
  cf()

.content
  center(content_width, pad: content_pad)

/*
  Components
*/
.event-partner-button
  width 100%
  text-align center
  margin-bottom 75px

.partner-button
  display: inline-block;
  font-family primary_font, sans-serif
  color white
  text-transform uppercase
  font-size 100%
  text-decoration none
  padding 15px 20px
  border 2px solid #93b93a
  border-radius 5px
  background-color transparent
  transition all .3s ease-out

  +below(330px)
    font-size .9em

  &:hover
    cursor pointer
    background-color #93b93a

.partner-button-alt
  font-family primary_font, sans-serif
  color #333
  text-transform uppercase
  font-size 1em
  text-decoration none
  padding 15px 20px
  border 2px solid #333
  border-radius 5px
  background transparent
  transition all .3s ease-out

  +below(330px)
    font-size .9em

  &:hover
    cursor pointer
    color white
    background #333
/*
  Sections
*/










