// NewsLetter

#event-newsletter
  background-color #82b927

.event-newsletter-title
  color #333
  base_title()

.event-newsletter-content
  base_content()
  font-size 1em

.event-newsletter-signup
  cf()
  .newsletter-input
    font-family primary_font, sans-serif
    color #333
    border 0
    line-height 50px
    box-sizing border-box
    border-radius 5px
    padding-left 15px
    padding-right 15px
    +above(641px)

      &:first-child
        col(1/4, offset: 1/6, gutter: 1)

      col(1/4, gutter: 1)
      shift()

    +below(640px)
      margin-bottom 7px
      stack()

  .newsletter-button
    +below(640px)
      stack()
    font-family primary_font, sans-serif
    color #333
    text-transform uppercase
    font-size 1em
    text-decoration none
    padding 15px 20px
    border 2px solid #333
    border-radius 5px
    background transparent
    transition all .3s ease-out

    &:hover
      cursor pointer
      color #82b927
      border 2px solid #333
      background #333