// Sizes
title_size      = 2.5em
content_size    = 1.3em
content_width   = 960px
content_pad		= 30px

// Colors
primary_color   = #93b93a
secondary_color = #6A862A

// Fonts
main_font    	= 'Open Sans'
primary_font 	= 'Montserrat'