html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  height: 100%;
}
header {
  height: auto;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  text-transform: uppercase;
  background: url("../images/bg-header.jpg");
  background-size: cover;
  position: relative;
}
header .menu {
    font-family: "Armata", sans-serif;
    float: right;
    width: auto;
    text-align: right;
    list-style: outside none none;
    padding: 0px;
    margin: 0px;
    text-transform: lowercase;
    font-size: 18px;
    position: fixed;
    z-index: 5;
    left: 88%;
    top: 40%;
}
header .menu li {
   padding-left: 1em;
   text-indent: -.7em;
   margin: 10px auto;
}
header .menu li:after {
   content: "";
   width: 10px;
   height: 10px;
   border: 0;
   border-radius: 10px;
   background-color: #93b93a;
    position: absolute;
    margin: 7px 10px;
}
header .menu li a {
  color: #FFF;
  text-decoration: none;
}
header .menu li a:hover {
    color: #000;
}
header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 0 auto;
  color: #fff;
}
header .ticket {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #93b93a;
}
header .date {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #fff;
}
header .event {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #93b93a;
}
header .btn-sponsor {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  display: inline-block;
  box-sizing: border-box;
  margin: 50px;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background-color: #93b93a;
}
header .btn-sponsor:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.15));
}
.logo {
  width: 562px;
  height: 210px;
  margin: 0 auto;
  background: url("../images/logo.svg") no-repeat top transparent;
  background-size: 100%;
}
.about {
  position: relative;
  height: auto;
  min-height: 100%;
  padding: 50px 0;
  color: #fff;
  background: url("../images/bg-event.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}
.about:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0.4;
  opacity: 0.9;
  background: #93b93a;
}
.about h1 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 100px 0 40px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}
.about p {
  position: relative;
  font-size: 35px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  z-index: 2;
}
.about .btn-about {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #494947;
  border: 2px solid #494947;
  border-radius: 5px;
  background-color: transparent;
  z-index: 2;
  top: 80px;
}
.about .btn-about:hover {
  cursor: pointer;
  color: #fff;
  border-color: #FFF;
}
.partners {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}
.partners h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 80px 0 40px;
  text-align: center;
  text-transform: uppercase;
  color: #494947;
}
.partners p {
  font-size: 26px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  color: #494947;
}
.partners .partners-list {
  position: absolute;
  left: 100px;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 143 auto;
  list-style-type: none;
}
.partners .partners-list > li {
  float: left;
  width: 372px;
  height: 168px;
  margin: 0 5px 5px 0;
  background-color: #f9f9f9;
}
.partners .partners-list li > a {
  position: absolute;
}
.partners .partners-list li > a > img {
  margin: 50px -100px;
}
.partners .btn-partners {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  position: relative;
  top: 420px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #494947;
  border: 2px solid #494947;
  border-radius: 5px;
  background-color: transparent;
}
.partners .btn-partners:hover {
  cursor: pointer;
  color: #fff;
  background-color: #7f8c8d;
}
.newsletter {
  position: relative;
  height: 305px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #93b93a;
}
.newsletter h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #494947;
}
.newsletter .btn-newsletter {
  font-weight: bold;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #7f8c8d;
  border: 2px solid #7f8c8d;
  border-radius: 5px;
  background-color: transparent;
}
.newsletter .form-singup .btn-signup {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 60px;
  margin-left: 5px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #93b93a;
  border: 0;
  border-radius: 5px;
  background-color: #494947;
}
.newsletter .error {
  display: none;
}
.form-singup {
  margin: 50px auto;
}
.form-singup input {
  font-family: 'Montserrat', sans-serif;
  width: 452px;
  height: 60px;
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #93b93a;
}
:-moz-placeholder {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #93b93a;
}
::-moz-placeholder {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #93b93a;
}
:-ms-input-placeholder {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #93b93a;
}
:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0,0,255,0.5);
  -moz-box-shadow: 0 0 5px rgba(0,0,255,0.5);
  box-shadow: 0 0 5px rgba(0,0,255,0.5);
  -o-box-shadow: 0 0 5px rgba(0,0,255,0.5);
  -ms-box-shadow: 0 0 5px rgba(0,0,255,0.5);
}
footer {
  position: relative;
  text-transform: uppercase;
  background-color: #fff;
}
footer .social-icons {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 290px;
  list-style-type: none;
}
footer .social-icons > li {
  display: inline-block;
  float: left;
  margin: 0 10px;
}
footer .social-icons > li > i {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #82ae3b;
}
footer .credits {
    width: 1245px;
    margin: 15px auto;
    display: block;
}
footer .credits span {
  font-family: 'Armata', sans-serif;
  font-size: 22px;
  padding: 10px 10px;
  text-align: center;
}
footer .credits a img {
  width: 30px;
  height: auto;
}
footer .credits .love {
  color: red;
  display: inline-block;
  font-size: 2em;
  position: relative;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  -o-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes love {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
}